 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href='/movie/search'>Search</a><br/>
	<a href='/movie/admin'>Admin</a><br/>
</body>
</html>